/* font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif; */

body {
  background: black;
}

nav {
  background-color: blue;
}
.grid {
  display: grid;
  row-gap: 4.6rem;
  column-gap: 5.4rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 7px 8px 3px rgb(233, 177, 177);
}

.main-nav {
  background: rgba(0, 0, 0, 0.85);
}

.logo {
  color: white;
}

.logo:hover {
  color: white;
  opacity: 0.8;
}

.footer-div p {
  font-size: 1.4rem;
}

.footer-div a {
  text-decoration: none;
  color: #e67e22;
}

@media (max-width: 992px) {
  span {
    background: white;
  }

  .footer-div p {
    font-size: 1.1rem;
  }
  .grid--4-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
}
