/* font-family: 'Bebas Neue', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif; */
body {
  background: black;
}

nav {
  background-color: blue;
}

.main-nav {
  background: rgba(0, 0, 0, 0.85);
}

.logo {
  color: white;
}

.logo:hover {
  color: white;
  opacity: 0.8;
}

.footer-div p {
  font-size: 1.4rem;
}

.footer-div a {
  text-decoration: none;
  color: #e67e22;
}

@media screen and (max-width: 992px) {
  span {
    background: white;
  }

  .footer-div p {
    font-size: 1.1rem;
  }
}
